:root {
    --dark-purple: #08083D;
    --deep-purple: #2C2C66;
    --blue: #1E1EE6;
    --white: #FAF4D9;
    --yellow-off: #AD8E00;

    /* Text size */
    --text-large: 2.4rem;
    --text-medium: 2.0rem;
    --text-normal: 1.6rem;
    --text-small: 1.2rem;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.body {
    background-color: var(--dark-purple);
}

.main {
    display: grid;
    place-items: center;
}

.dogs-section {
    width: 100%;
    padding: 10px 5%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
    font-size: var(--text-large);
    text-align: center;
    color: var(--white);
}

.button-load {
    transition-timing-function: ease;
    transition-duration: 200ms;
    margin-bottom: 20px;
    padding: 8px 12px;
    background-color: var(--white);
    color: var(--dark-purple);
    font-size: var(--text-medium);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button-load:hover {
    transition-timing-function: ease;
    transition-duration: 200ms;
    transform: scale(110%);
    background-color: var(--yellow-off);
    color: var(--dark-purple);
}

.button-load:active {
    transition-timing-function: ease;
    transition-duration: 200ms;
    transform: scale(98%);
    background-color: var(--white);
    color: var(--dark-purple);
}

.dogs-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(220px, 1fr) );
    grid-column-start: auto;
    place-items: center;
    gap: 10px;
}

.dog-item {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    background-color: var(--deep-purple);
    box-shadow: 0px 0px 9px rgb(255 255 255 / 20%);
    border-radius: 12px;
    overflow: hidden;
}

.dog-image-container {
    height: 200px;
    width: 100%;
}

.dog-info {
    padding: 20px 16px;
}

.inner-img-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}



.inner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dog-title {
    color: var(--white);
    font-size: var(--text-normal);
    font-weight: normal;
}

.dog-image {
    transition-timing-function: ease-in;
    transition-duration: 200ms;
}

.dog-image:hover {
    transition-timing-function: ease-out;
    transition-duration: 200ms;
    transform: scale(110%);
    opacity: 50%;
    cursor: pointer;
}